<br>
<center> <h1> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CBSE BOARD </h1> </center>
<br>
<form action="{% url 'MarkSheet' %}">

	<center>

		<table>
			
			<tr>
				<td>Name: </td>
				<td><input type="text" name="sname"></td>
			</tr>
			<tr>
				<td>Roll No: </td>
				<td><input type="text" name="roll"></td>
			</tr>
			<tr>
				<td>Physics: </td>
				<td><input type="number" name="phy"></td>
			</tr>
			<tr>
				<td>Chemistry: </td>
				<td><input type="number" name="chem"></td>
			</tr>
			<tr>
				<td>English: </td>
				<td><input type="number" name="eng"></td>
			</tr>
			<tr>
				<td>Maths: </td>
				<td><input type="number" name="math"></td>
			</tr>
			<tr>
				<td>Computer: </td>
				<td><input type="number" name="comp"></td>
			</tr>

		</table>

		<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" name="Submit">

	</center>

</form>